<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Login Node</title>
		<% include partials/head %>
	</head>
	<body>
		<div class="container">
			<div class="card text-center mt-5">
				<div class="card-body">
					<h1><span class="fa fa-lock"></span>Login or Register</h1>
					<a href="/login" class="btn btn-light btn-lg">
						<span class="fa fa-user"></span> Local Login
					</a>
					<a href="/signup" class="btn btn-light btn-lg">
						<span class="fa fa-user"></span> Local SignUp
					</a>
				</div>

			</div>

		</div>
	</body>
</html>
