<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
			<title>MI PRIMER SERVER</title>
	</head>
	<body>

		<% include partials/navigation.ejs %>

		<H1>HOLA CON EXPRESS Y EJS</H1>
	</body>
</html>
